.Footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: 900;
	margin: 0;
	padding: 10px;
	height: 250px;
	width: 100%;
	background-color: #5F7161; 
}
.F__list{
	list-style-type: none;
	width: 100%;
	text-decoration: none;
	display: flex;
	justify-content: space-evenly;
	color: #efead8;
	}
.F__link {
	text-decoration: none;
	color: #efead8;
	margin: 5px;
}
@media only screen and (max-width: 761px) {
	.Footer{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.F__list{
		display:flex;
	}
}